@import './__vars.scss';

*, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: auto;
  src: url("../assets/fonts/Roboto/Roboto-Light.woff") format("woff");
} */
/* @font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-display: auto;
  src: url("/fonts/Roboto/Roboto-Bold.woff") format("woff");
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
} */


body{
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}


